# Archivos del sistema
*.log
*.tmp


# Archivos de Composer

/vendor/
composer.lock

# Archivos generados
*.pyc
__pycache__/

# Archivos personales o temporales
*.bak
*.swp

# Otros
.env
# Ignora TODO en systemfiles
systemfiles/**

# EXCEPCIÓN: mantener archivos y carpetas en filesformat/
!systemfiles/filesformat/
!systemfiles/filesformat/**

# EXCEPCIÓN: mantener solo carpetas (no archivos) en filesproject/
!systemfiles/filesproject/
!systemfiles/filesproject/**/
